[submodule "themes/hermit"]
	path = themes/hermit
	url = git@github.com:Track3/hermit.git
[submodule "public"]
	path = public
	url = git@github.com:jaryncolbert/jaryncolbert.github.io.git
	branch = master
